#jinja2: lstrip_blocks: "true"
# apache2_conf -- Managed by Ansible, please don't edit manually
#
# {{ ansible_managed }}

<VirtualHost *:80>
    ServerName {{ apache_servername }}
    {% if apache_serveralias is defined %}
        {% for alias in apache_serveralias %}
    ServerAlias {{ alias }}
        {% endfor %}
    {% endif %}

    Use RedirectTo https backup.phys.ethz.ch

    ErrorLog  /var/log/apache2/bang_error_log
    CustomLog /var/log/apache2/bang_access_log common
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ apache_servername }}
    {% if apache_serveralias is defined %}
        {% for alias in apache_serveralias %}
    ServerAlias {{ alias }}
        {% endfor %}
    {% endif %}

    DocumentRoot /opt/BaNG

    HostnameLookups On
    ProxyPass / http://localhost:8030/ retry=0
    ProxyPassReverse / http://localhost:8030/

    SSLEngine on
    SSLCertificateFile    {{ apache_ssl_crt }}
    SSLCertificateKeyFile {{ apache_ssl_key }}

    logLevel  warn
    ErrorLog  /var/log/apache2/bang_ssl_error_log
    CustomLog /var/log/apache2/bang_ssl_access_log common
</VirtualHost>
